<div class="aboutbody"></div>

<div class="body">
    <div class="hello"><div  id="start">
        <div class="r1"></div><br><br>
        <div class="r2"></div><br><br>
        <div class="r3"></div>
        <div class="elli"></div>
        <h1>Software Development</h1>
        <div id="side"></div>
        <div id="side1"><div class="r4"></div><br><br><br></div>
        <div id="side1"><div class="r5"></div><br><br><br></div>
        <div id="side1"><div class="r6"></div></div>
    </div>
    <div class="breakbr">
    <br><br><br><br><br><br><br><br>
    </div>
    <div class="elli1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about">
                <div class="he">
                <h2 class="head" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Custom Software Application Development</h2>
                </div>
                <div class="s1">
                  <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200" src="./assets/Custom Software-min.jpeg">
              </div>
              <div class="par" data-aos="fade-right" data-aos-once="true" data-aos-delay="200">
                <p class="cont">At Sigma4Solutions, we specialize in crafting tailored software solutions designed to meet your unique business requirements. Our team of expert developers works closely with you to create software applications that are finely tuned to your specific needs, helping you gain a competitive edge in your industry.
    
                    </p></div>
                <br>
                </div>
            </div>
            <div class="col-md-6 no1">
                <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200" src="./assets/Custom Software-min.jpeg">
            </div>
        </div>
    </div>
    <div class="bre"><br><br><br></div>
    <div class="elli1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 no1">
                <img class="side4" data-aos="fade-right" data-aos-once="true" data-aos-delay="200" src="./assets/Web App-min.jpg">
            </div>
            <div class="col-md-6">
                <div class="about1">
                    <div class="he">
                <h2 class="head1" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Web Applications </h2>
                </div>
                <div class="col-md-6 s1">
                  <img class="side" data-aos="fade-right" data-aos-once="true" data-aos-delay="200" src="./assets/Web App-min.jpg">
              </div>
              <div class="par" data-aos="fade-left" data-aos-once="true" data-aos-delay="200">
                <p class="cont1">
                    Experience the power of web-based solutions with Sigma4Solutions. We excel in developing web applications that are accessible from anywhere, on any device with an internet connection. From e-commerce platforms to content management systems, our web applications are designed to empower your online presence.
                  </p>
              </div>
                <br>
                </div>
            </div>
        </div>
        <div class="bre"><br><br><br></div>
        <div class="elli3"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about">
                        <div class="he">
                    <h2 class="head" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Mobile Application Development (Hybrid)</h2>
                    </div>
                    <div class="col-md-6 s1">
                      <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200" src="./assets/Mobile App-min.jpeg" App-min.jpeg>
                  </div>
                  <div class="par" data-aos="fade-right" data-aos-once="true" data-aos-delay="200">
                    <p class="cont">Hybrid mobile app development combines the advantages of web technologies with native capabilities to create mobile applications that work across different platforms, like iOS and Android, using a single codebase. These apps can help clients reach a broader audience with a consistent user experience.
                       </p></div>
                    <br>
                    </div>
                </div>
                <div class="col-md-6 no1">
                    <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200" src="./assets/Mobile App-min.jpeg">
                </div>
            </div>
        </div>
        <div class="bre"><br><br><br></div>
        <div class="elli4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 no1">
                    <img class="side4" data-aos="fade-right" data-aos-once="true" data-aos-delay="200" src="./assets/Web Dev-min.jpeg">
                </div>
                <div class="col-md-6">
                    <div class="about1">
                        <div class="he">
                    <h2 class="head1" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Software Maintenance and Support</h2>
                    </div>
                    <div class="col-md-6 s2">
                      <img class="side" data-aos="fade-right" data-aos-once="true" data-aos-delay="200" src="./assets/Web Dev-min.jpeg">
                  </div>
                  <div class="par" data-aos="fade-left" data-aos-once="true" data-aos-delay="200">
                    <p class="cont1">Our commitment to your success doesn't end at deployment. Sigma4Solutions provides comprehensive software maintenance and support services. We ensure your software remains reliable, secure, and up-to-date with regular bug fixes, performance enhancements, and responsive support for your users.
                    </p></div>
                    <br>
                    </div>
                </div>
            </div>
    <div class="bre"><br><br><br><br><br></div>
</div>    