<div class="aboutbody"></div>

<div class="body">

<div class="hello"><br><br>
       <div class="rr">
            <div class="r1"></div><br>
            <div class="r2"></div><br>
            <div class="r3"></div><br>
       </div><div class="elipsdes">
       <div class="rb1"></div></div>
        <h1 class="aboutus">About Us  </h1><br><br>
        <div class="lr">
              <div class="r4" ></div><br>
              <div class="r5" ></div><br>
               <div class="r6" ></div><br>
        </div>
</div>


<div class="brakebr">
<br><br>
<br><br><br><br><br><br><br>
</div><div class="hedm">
<h1 class="abhedm" data-aos="fade-down" data-aos-once="true" data-aos-delay="400">Sigma4Solutions</h1></div>
<div class="center">
<div class="container" style="padding: 30px;">
    <div class="row">
         <div class="col-md-6  mmm2 ">
               <div class="picalign">
              <img class="side1" data-aos="fade-left" data-aos-once="true" data-aos-delay="400" src="./assets/sigma.jpeg"></div>
         </div>
         <div class="col-md-6">
            <h1 class="abhed" data-aos="fade-down" data-aos-once="true" data-aos-delay="400">Sigma4Solutions</h1>
           <div class="abpacenter" ><p class="abpa" data-aos="fade-right" data-aos-once="true" data-aos-delay="200">Welcome to Sigma4Solutions! leading IT/ITES company established in 2012. Our team is committed to providing you with exceptional services, placing a strong emphasis on data security, premium quality, and efficient turnaround time. </p>
         </div></div>
         <div class="col-md-6 mmm1 ">
                 <img class="border2"  data-aos="fade-left" data-aos-once="true" data-aos-delay="400" src="./assets/sigma.jpeg">
         </div>
   </div>
</div>
<br>
<br>
<br>
<div class="notouch">
<br>
<br>
<br>

<div class="container " style="padding: 30px;">
    <div class="row">
         <div class="col-md-6 ">
          <div class="picalign">
            <img class="side1" data-aos="fade-right" data-aos-once="true" data-aos-delay="600" src="./assets/vision.jpg"></div>
            <img class="border1"  data-aos="fade-right" data-aos-once="true" data-aos-delay="400" src="./assets/vision.jpg">     
         </div>
         <div class="col-md-6">
          <div class="alignrt2">
            <p class="abpa1" data-aos="fade-left" data-aos-once="true" data-aos-delay="400"><span style="color: #ee9d11; font-weight: bold;" >Vision:</span> To be a leading IT/ITES company globally, renowned for our cutting-edge technology solutions,client-centric approach and commitment to driving digital excellence in every industry we serve.<br><span  style="color: #ee9d11;font-weight: bold;" >Mission:</span> To empower businesses through innovative IT/ITES solutions, delivering exceptional value and driving their digital transformation for sustainable growth and success.</p>             
         </div>  </div>
      </div>
  </div>

        <button data-aos="fade-left" data-aos-once="true" data-aos-delay="400" mat-button class="bc1">Get A Free Quote</button>

        <div class="brakebr">

<br> 
<br> <br><br> <br> <br>  <br>  <br>  <br>  <br> <br> 
<br>
</div>
</div>


<div class="ourj">
     <h1 class="ourjt2"  data-aos="fade-down" data-aos-once="true" >Our Journey</h1>
    
 <br>  <br> <br>  <br>  <br>  <br>  
  <svg xmlns="http://www.w3.org/2000/svg" width="1292" height="62" viewBox="0 0 1292 62" fill="none">
    <path d="M0.308004 57.7363L1291.04 -0.000466809L1291.5 11.9906L0.462006 61.7333L0.308004 57.7363Z" fill="url(#paint0_linear_290_321)"/>
    <defs>
      <linearGradient id="paint0_linear_290_321" x1="9.49997" y1="61.9994" x2="1328.5" y2="-0.00048673" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D9D9D9" stop-opacity="0"/>
        <stop offset="0.0001" stop-color="#E6C6FF" stop-opacity="0.09"/>
        <stop offset="0.213542" stop-color="#E2BDFF" stop-opacity="0.402753"/>
        <stop offset="0.510417" stop-color="#C881FF" stop-opacity="0.628204"/>
        <stop offset="0.760417" stop-color="#AC42FF" stop-opacity="0.818057"/>
        <stop offset="1" stop-color="#A337F7"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="animation"  ><img src="./assets/Group 65.png"></div>
  <div class="des3"></div>
  <div class="madanim">

  <div class="poind1" style="z-index: 1;"><mat-card class="mad1" ><p class="m2012" >
     Embarked on our journey by establishing a digital publishing platform.</p>
    </mat-card>2012<img class="dot1" src="./assets/Ellipse 79.png"></div>  

  <div class="poind2"><div class="vis2">
    <mat-card class="mad2"><p class="m2015" > Marked our beginnings with the initiation of our project, specializing in Data Conversion service.
    </p></mat-card>2015<img class="dot2" src="./assets/Ellipse 79.png">
  </div> </div>

  <div class="poind3"><mat-card class="mad3"><p class="m2018" >
    Extended our reach and formed partnerships with numerous direct clients and publishers.</p></mat-card>2018
     <img class="dot3" src="./assets/Ellipse 79.png"> </div> 

  <div class="poind4"><mat-card class="mad4"><p class="m2020" > 
    Service offerings to include essential areas such as Data Annotation & Accessible services.</p>
  </mat-card>2021<img class="dot4" src="./assets/Ellipse 79.png"> </div> 

  <div class="poind5"><mat-card class="mad5" ><p class="m2023" >
    Excited to announce our transformation from <span style="color: #ee9d11; font-weight: bold;"> RS Infosolution to Sigma4Solutions </span>    a registered private limited company.
   </p> </mat-card>2023 <img class="dot5" src="./assets/Ellipse 79.png"></div> </div>
     <div id="prblm3"><div class="breakbr"></div><br>  <br>  <br>  <br> <br><br><br><br> <br> <br></div>
     </div>

     <div class="breakbr1"><br><br> <br>  <br>  <br>   <br> <br>  <br></div>
<div class="des4"></div>
<div class="work">
 <h1 class="workflowt"  data-aos="fade-down" data-aos-once="true" data-aos-delay="400" >Workflow</h1>
 <div class="brakebr"> <br><br><br><br></div><br>
<img class="workflow" src="./assets/Workflow.png"></div>

<div class="breakbr"><br> <br> <br> <br>  <br>   <br> <br>  <br></div>
<div class="clientlogos">
  <h1 class="client"  data-aos="fade-down" data-aos-once="true" data-aos-delay="400">Our Clients</h1><br><br><br><br><br>
<div data-aos="fade-up" data-aos-once="true"  data-aos-delay="600" >
  <div class="l1"   >
  <img class="clieti" src="./assets/tictag.png">
  <img class="clieti" src="./assets/wowai.png">
  <img class="clieti" src="./assets/wisepl 1.png">
  <img class="clieti" src="./assets/GTS.png"> 
  <img class="clieti" src="./assets/arcdata.png">
</div> </div><br><br><br> 
<div data-aos="fade-up" data-aos-once="true"  data-aos-delay="600" >

<div class="l2"  data-aos="fade-up" data-aos-once="true">
  <img class="clieti" src="./assets/starive.png"> 
  <img class="clieti" src="./assets/pothi.png">
  <img class="clieti" src="./assets/exella.png">
 <img class="clieti" src="./assets/td 1.png">
 <img class="clieti" src="./assets/exeter.png">
</div></div>
</div>
<br>
<div class="clientmv">

  <h1 class="clientte"  data-aos="fade-down" data-aos-once="true">Our clients</h1>
  <div class="clientlm"  data-aos="fade-right" data-aos-once="true"> <img src="./assets/LOGOS-1.png"> </div>
</div>
 

<br><br> <br> <br> <br>  <br><br> <br> <br> 
<h3 class="testi1 dtview"  data-aos="flip-right" data-aos-once="true" data-aos-delay="800">Testimonials</h3>    

<div class="body-slide dtview" >
    <div class=" con1">
         <input  type="radio" name="slider" class="d-none input" id="s1" checked>
         <input  type="radio" name="slider" class="d-none input" id="s2">
         <input  type="radio" name="slider" class="d-none input" id="s3">
            <div class="cards-slide">
               <label class="label1" for="s1" id="slide1">
                   <div class="card-slide">
                      <h3 class="testing1 ">“ It's been great working with you. We are happy with the quality of the projects and the on-time delivery. “
                     <h1 class="pothi">  - Pothi</h1></h3>
                   </div>
               </label>
               <label class="label1" for="s2" id="slide2">
                    <div class="card-slide ">
                        <h3 class="testing2">“ Team has consistently delivered top-notch solutions that have helped my business thrive. Their expertise in web development has given my online presence a significant boost “
                          <h1 class="alize" > <br>- AlizePublishers </h1>
                          </h3>
                    </div>
               </label>
               <label class="label1" for="s3" id="slide3">
                    <div class="card-slide">
                        <h3 class="testing1 ">“Company has delivered great results on one of our annotation project”
                       <h1 class="wisepl"> <br><br> - Wisepl Private Limited</h1></h3>   
                    </div>
               </label>        
           </div>
    </div>
</div>
<br> <br> <br> <br>  <br>   <br> <br><br> 

</div>
</div>



