<form [formGroup]="contactForm" (submit)="onSubmit()">
  <h1>Please enter details.</h1>
  <p>We'll call back Soon</p>
<form>
  <div class="example-container">
    <div>Your Name<br> 
       <input  class="name" mat-input type="text" name="firstname" placeholder="John doe"  formControlName="firstName">
      <span class="req" *ngIf="!contactForm.controls.firstName.valid && (contactForm.controls.firstName.touched || contactForm.controls.firstName.dirty) ">
          <span  class="req"  *ngIf="contactForm.controls.firstName.errors?.['required'] ">
              Firstname Required
         </span>
         <span  class="req"  *ngIf="contactForm.controls.firstName.errors?.['maxlength'] ">
          Minimum 12 Characters need
        </span>
          <span  class="req"  *ngIf="contactForm.controls.firstName.errors?.['pattern'] ">
              Only Alpabets are allowed.
            </span>
      </span></div>
    <div >Phone Number<br>
      <input  class="number" mat-input type="text" placeholder="Mobile Number" name="phone"  formControlName="phone">
      <span  class="req" *ngIf="!contactForm.controls.phone.valid && (contactForm.controls.phone.touched || contactForm.controls.phone.dirty) ">
          <span  class="req"  *ngIf="contactForm.controls.phone.errors?.['required'] ">
              Valid Number Required
         </span><br>
         </span>
        </div>
    <div>
      Email ID <br>
      <input class="mail" mat-input type="email" placeholder="example@gmail" name="password" formControlName="email">
      <span class="req"  *ngIf="!contactForm.controls.email.valid && (contactForm.controls.email.touched || contactForm.controls.email.dirty) ">
          <span class="req"  *ngIf="contactForm.controls.email.errors?.['required'] ">
              E-mail required
         </span>
         <span class="req"  *ngIf="contactForm.controls.email.errors?.['pattern'] ">
          Valid E-mail are allowed
          </span>
        </span>
      </div>
  <div >Message<br><textarea class="msg" placeholder="&nbsp;Message" type="text area"></textarea></div>
  
  <button  type="submit" [disabled]="!contactForm.valid" mat-raised-button>Submit</button>
  </div>
</form>
</form>