<div class="aboutbody"></div>

<div class="body">
  <div class="hello"><div  id="start">
    <div class="r1"></div><br><br>
    <div class="r2"></div><br><br>
    <div class="r3"></div>
    <div class="elli"></div>
    <h1>Accessibility Service</h1>
    <div id="side"></div>
    <div id="side1"><div class="r4"></div><br><br><br></div>
    <div id="side1"><div class="r5"></div><br><br><br></div>
    <div id="side1"><div class="r6"></div></div>
  </div>
  <div class="breakbr">
  <br><br><br><br><br><br><br><br>
  </div>
  <div class="elli1"></div>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about">
              <div class="he">
            <h2 class="head"  data-aos="fade-down"  data-aos-once="true" data-aos-delay="200">PDF Accessibility</h2>
            </div>
            <div class="s1">
              <img class="side"  data-aos="fade-left"  data-aos-once="true" data-aos-delay="200" src="./assets/Pdf.jpg">
          </div>
          <div class="par"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200">
            <p class="cont">PDFs are commonly used for sharing and presenting documents, and it's important to make sure that these documents can be effectively navigated, read, and understood by people with a variety of disabilities, including visual, auditory, and motor impairments
  
                </p></div>
            <br>
            </div>
        </div>
        <div class="col-md-6 no1">
            <img class="side"  data-aos="fade-left"  data-aos-once="true" data-aos-delay="200" src="./assets/Pdf.jpg">
        </div>
    </div>
  </div>
  <div class="bre"><br><br><br></div>
  <div class="elli2"></div>
  <div class="container">
    <div class="row">
        <div class="col-md-6 no1">
            <img class="side4"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200"  src="./assets/Word.jpg">
        </div>
        <div class="col-md-6">
            <div class="about1">
              <div class="he">
            <h2 class="head1"  data-aos="fade-down"  data-aos-once="true" data-aos-delay="200">Word Accessibility</h2>
            </div>
            <div class="col-md-6 s1">
              <img class="side"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200" src="./assets/Word.jpg">
          </div>
          <div class="par">
            <p class="cont1"  data-aos="fade-left"  data-aos-once="true" data-aos-delay="200" >Word accessibility services pertain to techniques, practices, and tools used to ensure that Microsoft Word documents are accessible to individuals with disabilities.
  
              </p></div>
            <br>
            </div>
        </div>
    </div>
    <div class="bre"><br><br><br></div>
    <div class="elli3"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about">
                  <div class="he">
                <h2 class="head" data-aos="fade-down"  data-aos-once="true" data-aos-delay="200" >PPT Accessibility</h2>
                </div>
                <div class="col-md-6 s1">
                  <img class="side"  data-aos="fade-left"  data-aos-once="true" data-aos-delay="200" src="./assets/Ppd.jpg">
              </div>
              <div class="par"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200" >
                <p class="cont">
                  PPT accessibility refers to the process of creating presentations in Microsoft PPT that are accessible to individuals with disabilities. Creating accessible PPT presentations ensures that all users, including those with visual, auditory, and motor impairments, can effectively engage with the content.
                   </p></div>
                <br>
                </div>
            </div>
            <div class="col-md-6 no1">
                <img class="side"  data-aos="fade-left"  data-aos-once="true" data-aos-delay="200" src="./assets/Ppd.jpg">
            </div>
        </div>
    </div>
    <div class="bre"><br><br><br></div>
    <div class="elli4"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 no1">
                <img class="side4"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200"  src="./assets/Excel.jpg">
            </div>
            <div class="col-md-6">
                <div class="about1">
                  <div class="he">
                <h2 class="head1"  data-aos="fade-down"  data-aos-once="true" data-aos-delay="200">Excel Accessibility</h2>
                </div>
                <div class="col-md-6 s2">
                  <img class="side"  data-aos="fade-right"  data-aos-once="true" data-aos-delay="200" src="./assets/Excel.jpg">
              </div>
              <div class="par" data-aos="fade-left"  data-aos-once="true" data-aos-delay="200">
                <p class="cont1">Excel accessibility involves creating spreadsheets in Microsoft Excel that can be effectively navigated and understood by individuals with disabilities. Accessibility in Excel is crucial to ensure that users with visual, auditory, and motor impairments can access and interact with spreadsheet content
  
                </p></div>
                <br>
                </div>
            </div>
        </div>
  
  
  
</div>  