
  


 
<div class="body">




    <video src="./assets/background.mp4"  [ngClass]="['background']" autoplay="" loop=""></video>
       
    <div [ngClass]="['container-fluid']">
        <div id="demo5" [ngClass]="['carousel slide']" data-bs-ride="carousel"  [ngStyle]="{'text-align':'center'}"data-aos="fade-down" data-aos-delay="200" data-aos-once="true">
              <div class="carousel-inner">
                   <div class="carousel-item active">
                    <div [ngClass]="['sliding']" id="slide">
                        <div class="container donnot">
                            <div class="row">
                                <h1 [ngClass]="['datasl','mdview']">AI-Powered <br> Data Annotation</h1>
                                <div class="col-lg-6 dtview">
                                    <h1 [ngClass]="['datasl']">AI-Powered <br>Data Annotation</h1>
                                    <p [ngClass]="['datas2']">Data annotation refers to the process of labeling or tagging data with relevant information or annotations. It is a crucial step in machine learning and artificial intelligence projects. </p>
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['data']">Learn More</button> 
                                </div>
                                <div class="col-lg-6 slideimg0">
                                    <img src="./assets/data_annotation.png" class="slideimg1">
                                 </div>
                                 <div class="col-lg-6 mdview">
                                    <p [ngClass]="['datas2']">Data annotation refers to the process of labeling or tagging data with relevant information or annotations. It is a crucial step in machine learning and artificial intelligence projects.  </p>
                                    <div class="slidebtn3">
                                         <button mat-stroked-button class="slidebtn1" [routerLink]="['data']">Learn More</button> 
                                     </div>
                                </div>
                           </div>
                       </div>  
                      </div>   
                   </div>
                   <div class="carousel-item">
                     <div [ngClass]="['sliding']" id="slide">
                        <div class="container donnot">
                            <div class="row">
                                <h1 [ngClass]="['datasl','mdview']">Seamless Digital <br> Publishing Made Effortless</h1>
                                <div class="col-lg-6 dtview">
                                    <h1 [ngClass]="['datasl']">Seamless Digital <br> Publishing Made Effortless</h1>
                                    <p [ngClass]="['datas2']">Sigma4Solutions handles a wide range of books and journals from low complexity pagination levels to heavy complexity free style design projects.  </p>
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['digital']">Learn More</button> 
                                </div>
                                <div class="col-lg-6  slideimg0">
                                    <img src="./assets/digital1.png" class="slideimg2">  
                                 </div>
                                 <div class="col-lg-6 mdview">
                                    <p [ngClass]="['datas2']">Sigma4Solutions handles a wide range of books and journals from low complexity pagination levels to heavy complexity free style design projects.</p>
                                    <div class="slidebtn3">
                                        <button mat-stroked-button class="slidebtn1" [routerLink]="['digital']">Learn More</button> 
                                    </div>                            
                                </div>
                           </div>
                       </div>  
                      </div>   
                   </div>
                   <div class="carousel-item">
                    <div [ngClass]="['sliding']" id="slide">
                        <div class="container donnot">
                            <div class="row">
                                <h1 [ngClass]="['datasl','mdview']">Leading Accessibility <br> Services for All</h1>
                                <div class="col-lg-6 dtview">
                                    <h1 [ngClass]="['datasl']">Leading Accessibility <br> Services for All</h1>
                                    <p [ngClass]="['datas2']">An accessible PDF is a document that is universally easy to use and meets established accessibility standards. It enables most people to view, read, or interact with your document. </p>
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['access']">Learn More</button> 
                                </div>
                                <div class="col-lg-6  slideimg0">
                                    <img src="./assets/access.png" class="slideimg3">
                                 </div>
                                 <div class="col-lg-6 mdview">
                                    <p [ngClass]="['datas2']">An accessible PDF is a document that is universally easy to use and meets established accessibility standards. It enables most people to view, read, or interact with your document.</p>
                                    <div class="slidebtn3">
                                        <button mat-stroked-button class="slidebtn1" [routerLink]="['access']">Learn More</button> 
                                    </div>                            
                                </div>
                           </div>
                        </div>  
                      </div> 
                    </div>
                   <div class="carousel-item">
                    <div [ngClass]="['sliding']" id="slide">
                        <div class="container donnot">
                            <div class="row">
                                <h1 [ngClass]="['datasl','mdview']">Software Services</h1>
                                <div class="col-lg-6 dtview">
                                    <h1 [ngClass]="['datasl']">Software Services</h1>
                                    <p [ngClass]="['datas2']">Sigma4solutions can address a wide range of software development needs and provide end-to-end solutions to our clients. Experience the power of web-based solutions with Sigma4Solutions.  </p>
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['software']">Learn More</button> 
                                </div>
                                 <div class="col-lg-6  ">
                                    <img src="./assets/website.png" class="slideimg4">
                                 </div>
                                 <div class="col-lg-6 mdview">
                                    <p [ngClass]="['datas2']">Sigma4solutions can address a wide range of software development needs and provide end-to-end solutions to our clients. Experience the power of web-based solutions with Sigma4Solutions.  </p>
                                    <div class="slidebtn3">
                                        <button mat-stroked-button class="slidebtn1" [routerLink]="['software']">Learn More</button> 
                                    </div>                            
                                </div>
                           </div>
                       </div>  
                   </div>     
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#demo5" data-bs-slide="prev">
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#demo5" data-bs-slide="next">
              </button>
        </div> 	  
      </div>
    </div>
    
    
    <div class="wback1 ">
        <div class="backgd2"></div>
        <h3 class="star0" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
            <img src="./assets/star.png" class="star1">RS Infosolution is now <span class="star12">Sigma4Solutions</span><img src="./assets/star.png" class="star1">
        </h3>
          <div class="container" >
            <div class="row ">
                <div class="col-lg-7">
                    <div id="backgd1" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                       <p class="wwd1" >What we do?</p>
                       <p class="wwd2" style="margin-top:30px;">It is an undeniable fact that IT services are one of the hotcakes of the industry and market these days. Offering IT services may seem like an overwhelming and tedious task. But @Sigma4Solutions, with a little bit of effort and tons of dedication, it is possible to provide all types of IT services on time.</p>
                        <div class="gafq1">
                            <button data-bs-toggle="offcanvas" data-bs-target="#contact" mat-raised-button class="gafq">Get A Free Quote</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                <div class="container-fluid dtview" >
                    <div class="row">
                    <div class="col-6 ">
                        <div class="bacg1 bacg">
                            <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                          </div>
                    </div>
                    <div class="col-6">
                          <div class="bacg3 bacg">
                            <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                          </div>
                    </div>
                </div>
             </div> 
             <div class="container dtview" >
                <div class="row">
                    <div class="col-6 ">
                        <div class="bacg2 bacg">
                            <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                          </div>
                    </div>
                    <div class="col-6" >
                        <div class="bacg4 bacg" >
                            <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                        </div>   
                    </div>
                </div>
              </div>
             </div>
    
             
            <div class="container-fluid mdview" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                <div class="row">
                <div class="col-6 ">
                    <div class="bacg1 bacg">
                        <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                      </div>
                </div>
                <div class="col-6">
                      <div class="bacg3 bacg">
                        <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                      </div>
                </div>
            </div>
         </div> 
         <div class="container mdview" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
            <div class="row">
                <div class="col-6 ">
                    <div class="bacg2 bacg">
                        <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                      </div>
                </div>
                <div class="col-6" >
                    <div class="bacg4 bacg">
                        <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                    </div>   
                </div>
            </div>
          </div>
            </div>
        </div>
        <div class="container mdview">
            <h1 class="ourse" data-aos="fade-down" data-aos-delay="200" data-aos-once="true">Our Services</h1>
            <div style=" margin-left: 25px; margin-bottom: 30px;" data-aos="fade-down" data-aos-delay="200" data-aos-once="true">
                <div class="ourseda1">
                  <img class="ourseimg" src="./assets/price-tag.png">              
                  <h4 class="ourseda2">Data Annotation</h4>
                  <p class="oursed3">Data annotation is the process of labeling unstructured data and information to train machine learning models.</p>
                  <button mat-stroked-button class="ourbtn"  [routerLink]="['data']" (click)="scrollToTop()">View</button>
                </div>
            </div>
            <div id="ourbtnd" class="collapse">
            <div style=" margin-left: 25px; margin-bottom: 30px;" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                <div class="ourseda1">
                  <img class="ourseimg" src="./assets/price-tag.png">              
                  <h4 class="ourseda2">Digital Publishing</h4>
                  <p class="oursed3">Refers to the process of creating, distributing, and delivering content, such as books, magazines, newspapers, and other written</p>
                  <button mat-stroked-button class="ourbtn"  [routerLink]="['digital']" (click)="scrollToTop()">View</button>
                </div>
            </div>
            <div style=" margin-left: 25px;  margin-bottom: 30px;" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                <div class="ourseda1">
                  <img class="ourseimg" src="./assets/price-tag.png">              
                  <h4 class="ourseda2">Accessibility Services</h4>
                  <p class="oursed3">An accessible PDF is a document that is universally easy to use and meets established accessibility standards.</p>
                  <button mat-stroked-button class="ourbtn"  [routerLink]="['access']" (click)="scrollToTop()">View</button>
                </div>
            </div>
            <div style=" margin-left: 25px;  margin-bottom: 30px;">
                <div class="ourseda1">
                  <img class="ourseimg" src="./assets/price-tag.png"data-aos="fade-up" data-aos-delay="200" data-aos-once="true">              
                  <h4 class="ourseda2">Software Services</h4>
                  <p class="oursed3">Depending on the specific needs of a client or project</p>
                  <button mat-stroked-button class="ourbtn"  [routerLink]="['software']" (click)="scrollToTop()">View</button>
                </div>
            </div>
           </div>
            <div class="ourbtn1" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
                  <button mat-stroked-button class="ourbtn"  data-bs-toggle="collapse" data-bs-target="#ourbtnd">View All Services</button>
            </div>
          
    
            <h1 class="ourse1 mdview" data-aos="fade-left" data-aos-delay="200" data-aos-once="true" >Our Clients</h1>
            <div class=" mdview" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="text-align: center;">
                <img src="./assets/LOGOCLI.png" style="width:60%;margin-bottom: 50px;">
            </div> 
            
      
            <h1 class="ourse2" data-aos="flip-right" data-aos-delay="200" data-aos-once="true">Testimonial</h1>
            <div id="ourter" class="carousel slide" data-bs-ride="carousel" data-aos="flip-left" data-aos-delay="200" data-aos-once="true">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   <div class="container-fluid">
                            <div class="ourseda3">
                                <p class="oursed3" style="text-align: justify;">“ It's been great working with you. We are happy with the quality of the projects and the on-time delivery. “</p>
                                <p class="oursed6" style="font-weight: bold;">- Pothi</p>
                            </div>
                         </div>   
                  </div>
                  <div class="carousel-item">   
                    <div class="container-fluid">
                        <div class="row">
                            <div class="ourseda3">
                                <p class="oursed3" style="text-align: justify;">“ Team has consistently delivered top-notch solutions that have helped my business thrive. “</p> 
                                 <p class="oursed7" style="font-weight: bold;">- AlizePublishers</p>
                             </div>    
                        </div>
                     </div>       
                  </div>
                  <div class="carousel-item">
                    <div class="container-fluid">
                            <div class="ourseda3">
                                 <p class="oursed3" style="text-align: justify;"> “Company has delivered great results on one of our annotation project”</p>
                                 <p class="oursed8" style="font-weight: bold;" >- Wisepl Private Limited</p>
                            </div> 
                     </div> 
                  </div>
                </div>          
                <button class="carousel-control-prev" type="button" data-bs-target="#ourter" data-bs-slide="prev">
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ourter" data-bs-slide="next">
                </button>
            </div>     
    <div class="container mdview">
        <div class="row">
            <div class="col-6" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                <a class="buttonimg3" data-bs-target="#ourter" data-bs-slide="prev">
                    <img src="./assets/backward.png" class="btnimg1">
                </a>
            </div>
            <div class="col-6" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                <a class="buttonimg4" data-bs-target="#ourter" data-bs-slide="next">
                    <img src="./assets/forward.png" class="btnimg1" >
                </a>
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    <div>
       <ul class="nav nav-pills dtview" role="tablist">
          <div class="container">
              <h1 class="os1" data-aos="fade-down" data-aos-delay="200" data-aos-once="true">Our Services</h1>
                  <div class="row">
                       <div class="col-md-3" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                        
                           <li class="nav-item">
                                <a class="nav-link active pictab1" data-bs-toggle="pill" href="#menu0">
                                   <img src="./assets/test 1.png" [ngClass]="['tested0']">
                                   <p class="text0">Data Annotation</p> 
                                </a>
                            </li>
                        </div>     
                        <div class="col-md-3" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                            <li class="nav-item">
                                <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu1">
                                   <img src="./assets/test 3.png" [ngClass]="['tested0']">
                                   <p class="text0">Digital Publishing</p> 
                                </a>
                            </li>
                        </div>       
                        <div class="col-md-3" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                            <li class="nav-item">
                                <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu2">
                                    <img src="./assets/test 2.png" [ngClass]="['tested0']">
                                    <p class="text0">Accessibility Services</p> 
                                </a>
                            </li>
                        </div>
                        <div class="col-md-3" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                            <li class="nav-item">
                                <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu3">
                                    <img src="./assets/Softwareicon.png" [ngClass]="['tested0']">
                                    <p class="text0">Software Services</p> 
                                </a>
                            </li>
                        </div>
                    </div>
            </div>
        </ul>
    </div>
        <div class="tab-content dtview" data-aos="zoom-in-up" data-aos-delay="200" data-aos-once="true">
            <div id="menu0"  class="container tab-pane active">
                <img src="./assets/indicator1.png" class="menu0int" >
                    <div class="swibebtn1">
                        <div class="container ml-5 mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['data']" (click)="scrollToTop()" >
                                        <img src="./assets/fruits.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['data']" (click)="scrollToTop()">
                                        <img src="./assets/healthcare.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['data']" (click)="scrollToTop()">
                                        <img src="./assets/selfdriving.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4" [routerLink]="['data']" (click)="scrollToTop()">
                                    <div class="card card1">
                                        <img src="./assets/drone.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Drone Annotation</div>
                                </div>
                                </div>
                                <div class="col-md-4" >
                                    <div class="card card1" [routerLink]="['data']" (click)="scrollToTop()">
                                        <img src="./assets/sports.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1"[routerLink]="['data']" (click)="scrollToTop()">
                                         <img src="./assets/retail.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </div>     
            </div>
        </div>
        <div class="tab-content dtview">
                <div id="menu1"  class="container tab-pane fade">
                    <img src="./assets/indicator1.png" class="menu1int" >
                        <div class="swibebtn1">
                            <div class="container ml-5 mt-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card1" [routerLink]="['digital']" (click)="scrollToTop()">
                                            <img src="./assets/type.jpg" class="cardimg1">
                                            <div class="card-img-overlay cardover1" >Type Setting</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card1" [routerLink]="['digital']" (click)="scrollToTop()">
                                            <img src="./assets/E-book1.png" class="cardimg1">
                                            <div class="card-img-overlay cardover1" >E-book</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card1" [routerLink]="['digital']" (click)="scrollToTop()">
                                            <img src="./assets/dataconversion.jpg"class="cardimg1">
                                            <div class="card-img-overlay cardover1" >Data Conversion</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card1">
                                            <img src="./assets/copywriting.jpg" class="cardimg1" [routerLink]="['digital']" (click)="scrollToTop()">
                                            <div class="card-img-overlay cardover1" >Copy Editing</div>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                        
                                    </div>
                               </div>
                           </div>
                        </div>     
            </div>
        </div>  
        <div class="tab-content dtview">
            <div id="menu2"  class="container tab-pane fade">
                <img src="./assets/indicator1.png" class="menu2int">
                    <div class="swibebtn1">
                        <div class="container ml-5 mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['access']" (click)="scrollToTop()">
                                        <img src="./assets/Pdf.jpg" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >PDF Accessibility</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['access']" (click)="scrollToTop()">
                                        <img src="./assets/Word.jpg" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >WORD Accessibility</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['access']" (click)="scrollToTop()">
                                        <img src="./assets/Ppd.jpg" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >PPT Accessibility</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                
                                
                                <div class="col-md-4">
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1" [routerLink]="['access']" (click)="scrollToTop()">
                                        <img src="./assets/Excel.jpg"class="cardimg1">
                                        <div class="card-img-overlay cardover1" >EXCEL Accessibility</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    
                                </div>
                           </div>
                       </div>
                    </div>     
        </div>
    </div> 
    <div class="tab-content dtview">
        <div id="menu3"  class="container tab-pane fade">
            <img src="./assets/indicator1.png" class="menu3int" >
                <div class="swibebtn1">
                    <div class="container ml-5 mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card1" [routerLink]="['software']" (click)="scrollToTop()">
                                    <img src="./assets/Custom Software-min.jpeg"class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Software Development</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1" [routerLink]="['software']" (click)="scrollToTop()">
                                    <img src="./assets/Web App-min.jpg" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Web Applications </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1" [routerLink]="['software']" (click)="scrollToTop()">
                                    <img src="./assets/Mobile App-min.jpeg" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Mobile Application Development</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-4">
                                <div class="card card1" [routerLink]="['software']" (click)="scrollToTop()">
                                    <img src="./assets/Web Dev-min.jpeg"class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Software Maintenance </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              
                            </div>
                       </div>
                   </div>
                </div>     
       </div>
    </div> 
    
    <h3 class="wact1 dtview" data-aos="fade-down" data-aos-delay="200" data-aos-once="true">“ We are committed to providing our <br>
        clients with  the best possible service “</h3>
    <div class="container" >
        <div class="row dtview ">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="wcu1">
                    <div data-bs-toggle="collapse" data-bs-target="#wcu1">
                        <div class="wrt1">
                           <img src="./assets/Shape.png" class="wrt2">
                           <span class="wrt3">Why Choose us?</span>
                        </div>
                        <ul id="wcu1" class="collapse">
                             <li class="dqc">Deliver quality content</li>
                             <li class="dqc"> On-time delivery</li>
                             <li class="dqc">Out-of-the-box thinking</li>
                             <li class="dqc">Cutting edge technologies for serving you</li>
                             <li class="dqc">Manage smooth relationships with all clients</li>
                        </ul>
                    </div>
                    <div data-bs-toggle="collapse" data-bs-target="#wcu2">
                        <div class="wrt1 wrt0">
                            <img src="./assets/Shape.png" class="wrt2">
                            <span class="wrt3">What are the industries we serve?</span>
                        </div>
                        <div id="wcu2"  class="collapse">
                            <p class="dqc">Some of the industries that benefit from our Data annotation services are healthcare, automotive, e-commerce, agriculture,
                            retail, sports etc.</p>
                        </div>
                    </div>
                    <div data-bs-toggle="collapse" data-bs-target="#wcu3">
                        <div class="wrt1 wrt0">
                            <img src="./assets/Shape.png" class="wrt2">
                            <span class="wrt3">How making documents accessible
                                <span class="wrt4">helps people with disabilities?</span>
                            </span>
                        </div>
                        <div id="wcu3"  class="collapse">
                            <p class="dqc">By making digital documents accessible, you not only comply with legal requirements but also create an inclusive digital environment that empowers individuals with disabilities to participate fully in education, work, and information-sharing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
           </div>
        </div>
    </div>
    
    <div class="ourclient1 dtview">
        <h3 class="testi1 "data-aos="fade-down" data-aos-delay="200" data-aos-once="true">Our Clients</h3> 
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
       <div class="row">
          <div class="col-1"></div>
          <div class="col-2" >
          <img src="./assets/tictag.png" class="ourclimg">
          </div>
          <div class="col-2">
            <img src="./assets/wowai.png" class="ourclimg">
          </div>
          <div class="col-2">
            <img src="./assets/wisepl 1.png" class="ourclimg">
          </div>
          <div class="col-2">
            <img src="./assets/GTS.png" class="ourclimg">
          </div>
          <div class="col-2">
            <img src="./assets/arcdata.png" class="ourclimg">
          </div>
          <div class="col-1"></div>
       </div>
    </div>
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
        <div class="row">
           <div class="col-1"></div>
          
           <div class="col-2">
            <img src="./assets/starive.png" class=" ourclim1">
           </div>
           <div class="col-2">
            <img src="./assets/pothi.png" class="ourclimg">
           </div>
           <div class="col-2">
            <img src="./assets/exella.png" class="ourclimg">
           </div>
           <div class="col-2">
            <img src="./assets/td 1.png" class="ourclimg">
           </div>
           <div class="col-2">
            <img src="./assets/exeter.png" class="ourclimg">  
           </div>
           <div class="col-1"></div>
        </div>
     </div>
     
    </div>
    
    
    
    
    <h3 class="testi1 dtview" data-aos="flip-right" data-aos-delay="200" data-aos-once="true">Testimonials</h3>    
    
    <div class="body-slide dtview" >
        <div class=" con1">
             <input  type="radio" name="slider" class="d-none input" id="s1" checked>
             <input  type="radio" name="slider" class="d-none input" id="s2">
             <input  type="radio" name="slider" class="d-none input" id="s3">
                <div class="cards-slide"  >
                   <label class="label1" for="s1" id="slide1" >
                       <div class="card-slide" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
                          <h3 class="testing1 ">“ It's been great working with you. We are happy with the quality of the projects(E-Book) and the on-time delivery. “</h3>
                          <h3 class="testing3">- Pothi</h3>
                        </div>
                   </label>
                   <label class="label1" for="s2" id="slide2" >
                        <div class="card-slide " data-aos="flip-right" data-aos-delay="200" data-aos-once="true">
                            <h3 class="testing2">“ Team has consistently delivered top-notch solutions that have helped my business thrive. Their expertise in web development has given my online presence a significant boost “</h3>
                            <h3 class="testing6"> - AlizePublishers </h3>
                        </div>
                   </label>
                   <label class="label1 " for="s3" id="slide3" >
                        <div class="card-slide" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
                            <h3 class="testing1 ">“Company has delivered great results on one of our annotation project”</h3>   
                            <h3 class="testing4"> - Wisepl Private Limited</h3>
                        </div>
                   </label>        
               </div>
        </div>
    </div>
    
    
    
    
       <div class="bacgd5"></div>   
    </div>
    
    
    
    
    
    </div>