
<div class="aboutbody"></div>

<div class="body">
    <div class="hello"><div  id="start">
        <div class="r1"></div><br><br>
        <div class="r2"></div><br><br>
        <div class="r3"></div>
        <div class="elli"></div>
        <h1>Digital Publishing</h1>
        <div id="side"></div>
        <div id="side1"><div class="r4"></div><br><br><br></div>
        <div id="side1"><div class="r5"></div><br><br><br></div>
        <div id="side1"><div class="r6"></div></div>
    </div>
<div class="breakbr"> 
    <br><br><br><br><br><br><br><br>
    </div>
    <div class="elli1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about">
                    <div class="he">
                <h2 class="head" data-aos="fade-down" data-aos-once="true" data-aos-delay="20">Type Setting</h2>
                </div>
                <div class="s1">
                  <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200" src="./assets/type.jpg">
              </div>
              <div class="par" data-aos="fade-right" data-aos-once="true" data-aos-delay="20">
                <p class="cont" >Sigma4Solutions handles a wide range of
                    books and journals from low complexity
                    pagination levels to heavy complexity free style
                    design projects. We also can work on any
                    customer specified product if suitable for the
                    project
                    </p></div>
                <br>
                </div>
            </div>
            <div class="col-md-6 no1">
                <img class="side"  data-aos="fade-left" data-aos-once="true" data-aos-delay="20"  src="./assets/type.jpg">
            </div>
        </div>
    </div>
    <div class="bre"><br><br><br></div>
    <div class="elli2"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 no1">
                <img class="side4"  data-aos="fade-right"   data-aos-once="true" data-aos-delay="20" src="./assets/E-book1.png">
            </div>
            <div class="col-md-6">
                <div class="about1">
                    <div class="he">
                <h2 class="head1" data-aos="fade-down" data-aos-once="true" data-aos-delay="20">E-Book </h2>
                </div>
                <div class="col-md-6 s1">
                  <img class="side" data-aos="fade-right" data-aos-once="true" data-aos-delay="200"  src="./assets/E-book1.png">
              </div>
              <div class="par" data-aos="fade-left" data-aos-once="true" data-aos-delay="20">
                <p class="cont1">Sigma4Solutions has an internal team of
                    Instructional Designers who develop story boards
                    from content. We have a network of subject matter
                    experts who develop custom lessons based on
                    different syllabi on all academic subjects for various
                    grades
                  </p></div>
                <br>
                </div>
            </div>
        </div>
        <div class="bre"><br><br><br></div>
        <div class="elli3"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about">
                        <div class="he">
                    <h2 class="head" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Data Conversion</h2>
                    </div>
                    <div class="col-md-6 s1">
                      <img class="side" data-aos="fade-left" data-aos-delay="200
" data-aos-once="true"  src="./assets/dataconversion.jpg">
                  </div>
                  <div class="par" data-aos="fade-right" data-aos-once="true" data-aos-delay="200">
                    <p class="cont">Sigma4Solutions offers a comprehensive
                        range of services for data conversions and
                        content digitization. We capture data from all
                        types of handwritten forms accurately, rapidly,
                        and cost‐effectively and convert them into a
                        powerful MANAGEMENT resource
                       </p></div>
                    <br>
                    </div>
                </div>
                <div class="col-md-6 no1">
                    <img class="side" data-aos="fade-left" data-aos-once="true" data-aos-delay="200"  src="./assets/dataconversion.jpg">
                </div>
            </div>
        </div>
        <div class="bre"><br><br><br></div>
        <div class="elli4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 no1">
                    <img class="side4" data-aos="fade-right"  data-aos-once="true" data-aos-delay="200"  src="./assets/copywriting.jpg">
                </div>
                <div class="col-md-6">
                    <div class="about1">
                        <div class="he">
                    <h2 class="head1" data-aos="fade-down" data-aos-once="true" data-aos-delay="200">Copy Editing</h2>
                    </div>
                    <div class="col-md-6 s2">
                      <img class="side" data-aos="fade-right" data-aos-once="true" data-aos-delay="200"  src="./assets/copywriting.jpg">
                  </div>
                  <div class="par" data-aos="fade-left" data-aos-once="true" data-aos-delay="200">
                    <p class="cont1">Readers expect and deserve a Clean read. Our Keen -
                        sighted Copy editors stands in for the reader,
                        gingerly reshaping, clarifying the things before the
                        reader can see them. Sigma team follow 5C's of Copy
                        editing methods</p>
                        </div>
                    <br>
                    </div>
                </div>
            </div>
    <div class="bre"><br><br><br><br><br></div>
    
    </div>
    